{% assign mine_open = '%{F#282828}%{B#ABC2AB}' %}
{% assign mine_close = '%{B-}%{F-}' %}
{% assign visible_open = '%{F#282828}%{B#BEBEBE}' %}
{% assign visible_close = '%{B-}%{F-}' %}
{% assign busy_open = '%{F#282828}%{B#FBD382}' %}
{% assign busy_close = '%{B-}%{F-}' %}

{% for tag in workspace.tags %}
{% if tag.mine %}
{{mine_open}}  {{ tag.name }}  {{mine_close}}
{% elsif tag.visible  %}
{{visible_open}}  {{ tag.name }}  {{visible_close}}
{% elsif tag.busy  %}
{{busy_open}}  {{ tag.name }}  {{busy_close}}
{% else %}
  {{ tag.name }}   
{% endif %}
{% endfor %}

%{c}
{{ window_title | truncate: 20 }}

%{r}
%{F#282828}%{B#ABC2AB}  {{ workspace.layout }}  %{B-}%{F-}
%{F#282828}%{B#FBD382}  {{ "now" | date: "%Y-%m-%d" }}  %{B-}%{F-}
